body {
    font-family: 'Roboto', sans-serif;
    max-height: 100vh;
    text-align: center;
    background-image: url('./MG_8066.jpg');
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
}
#wrapper {
    margin: auto;
    height:90vh;
    margin-top: 5vh;
    background-color:rgba(255, 255, 255, 0.7);
    width:450px;
}

#passoverImage{
    width:100%
}
.logo {
    height: 120px;
}
span {
    font-size:46px
}

h1{
    color: mediumvioletred;
    margin:0;
    font-size: 20px;
}
h2 {
    color: purple;
    font-size: 18px;
}
h2 span {
    font-size: 28px;
}
h3 {
    font-size: 24px;
    font-weight: 400;
    color:rgba(0, 0, 0);
    font-size: 18px;
}
