html, body{
    height:100%;
    margin:0;
    padding:0;
}

body {
    font-family : myFirstFont;
    max-height: 100vh;
    text-align: center;
    background: url('./MG_7977.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    margin: 0;
}
#boxWrapper {
    margin: auto;
    background-color:rgba(255, 255, 255, 0.8);
    width:450px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#passoverImage{
    width:100%
}
.logo {
    height: 120px;
}
span {
    font-size:46px
}

h1{
    display: inline;
    color: mediumvioletred;
    margin:0;
    font-size: 54px;
}
h2 {
    color: purple;
    font-size: 41px;
    margin:0
}
h2 span {
    font-size: 65px;
}
h3 {
    font-size: 30px;
    font-weight: 400;
    color:rgba(0, 0, 0);
    margin: 0;
    
}

#website{
    font-size: 41px;
    margin: 0;
}
.info{
    font-size: 25px;
}

@font-face {
    font-family: myFirstFont;
    src: url(spring-is-coming.otf);
}

@media only screen and (max-width: 480px) {
    body {
        background: url('./MG_6316.jpg') no-repeat center center fixed;
        background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
    }
    #boxWrapper {
        width: 90%;
        margin-top: 7.5vh;
        border: 1px solid black;
    }
    .logo {
        height: 90px;
    }
    span {
        font-size:40px
    }
    
    h1{
        color: mediumvioletred;
        margin:0;
        font-size: 25px;
    }
    h2 {
        color: purple;
        font-size: 22px;
    }
    h2 span {
        font-size: 20px;
    }
    h3 {
        font-weight: 400;
        color:rgba(0, 0, 0);
        font-size: 23px;
    }

}